@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.section-heading {
  @apply text-7xl uppercase font-oswald;
}

.text-gradient-yellow {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-primary to-yellow-300;
}
.text-gradient-grey {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-secondary to-secondary-dark;
}

.price-container {
  @apply grid place-content-center gap-6;
}

.two-column {
  @apply container flex flex-col items-center justify-center md:flex-row mb-10 gap-4;
}
