---
import SectionHead from './SectionHead.astro'
---

<section class="bg-secondary-dark text-center pt-5" id="Booking">
<div class="mb-4">

<SectionHead>
  Booking
</SectionHead>
</div>


<!-- Calendly inline widget begin -->
<div title="Booking a training" class="calendly-inline-widget border-0 " data-url="https://calendly.com/bookinggammunition?hide_landing_page_details=1&hide_gdpr_banner=1&background_color=212121&text_color=ffffff&primary_color=ffeb3b" style="min-width:320px;height:650px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
</section>
