---
const KEY = __SNOWPACK_ENV__.AIRTABLE
const HEADERS = {
      headers: { Authorization: `Bearer ${KEY}` },
    }
const responce =await fetch('https://api.airtable.com/v0/app24nIoWe3Q49B6u/Feature%20Section/receeyP2JaINsow5a',
      HEADERS)
const data = await responce.json()
---


<div class="bg-primary grid place-content-center py-20 px-auto">
  <div class="text-center max-w-xl space-y-5 px-2">
    <h2 class="font-oswald">{ data.fields.subhead }</h2>
    <h1 class="font-oswald">{data.fields.head}</h1>
    <p>{data.fields.Text}
    </p>
  </div>
</div>

<script>



</script>

<style lang="scss">
h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2
    }

h2 { 
font-weight: bold;
text-transform: uppercase;
letter-spacing: .5px;
}

p {
  font-weight: 200;

  }

</style>