---

---

<footer class="bg-secondary-dark">

  <h2>Gammunition Arms Training, LLC.</h2>
  <h3>TERRENCE A. GAMMAGE</h3>
  <h4>NRA Pistol Instructor</h4>
  <p>@gammunitionarmstraining</p>
  <div class="never-container">
    <h3 class="never">Never compare</h3>
    <h3 class="never">never complain</h3>
    <h3 class="never">never compete</h3>
  </div>
</footer>

<style lang="scss">
footer{
  color: white;
  background-color: white;
  text-align: center;
  background-color: #212121;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding-bottom: 4rem;
  font-weight: 100;
}

img{
  display: block;
  margin: auto;
}

h2{
  font-size: 2rem;
  padding-top: 6rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: .8rem
}

.never-container {
  display: flex;
  max-width: 32rem;
  margin: auto;
  margin-top: 2rem;
  justify-content: space-between;
  font-weight: 700;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
    text-align: center;
  }
}

.never {
  font-size: 1.2rem;
}
</style>