---

---

<footer class="bg-secondary-dark pt-10">

  <div>Gammunition Arms Training, LLC.</div>
  <div>TERRENCE A. GAMMAGE</div>
  <div>NRA Pistol Instructor</div>
  <p>@gammunitionarmstraining</p>
  <div class="never-container">
    <div class="never">Never compare</div>
    <div class="never">never complain</div>
    <div class="never">never compete</div>
  </div>
</footer>

<style lang="scss">
footer{
  color: white;
  background-color: white;
  text-align: center;
  background-color: #212121;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding-bottom: 4rem;
  font-weight: 100;
}

img{
  display: block;
  margin: auto;
}


.never-container {
  display: flex;
  max-width: 32rem;
  margin: auto;
  margin-top: 2rem;
  justify-content: space-between;
  font-weight: 700;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
    text-align: center;
  }
}

.never {
  font-size: 1.2rem;
}
</style>