---
const { img, quote, name } = Astro.props;
---

<div class="grid place-content-center">
       <div class="text-white space-y-2 text-center grid justify-items-center p-6">
      
          <div class="rounded-full h-28 w-28 overflow-hidden">
              <img src={img} alt="">
          </div>
              <p class="font-roboto text-body  max-w-md">{quote}</p>
            
          
          <div class="text-lg uppercase font-oswald font-bold tracking-wider text-gradient-yellow">{name}</div>
       </div>
</div>

<style>

</style>